/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Default config options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name             = 'HOLI_nf'
    author           = 'Merlin Szymanski'
    homePage         = ''
    description      = 'Reimplementation of the HOLI workflow described in Kjaer et al. 2022 for benchmarking quicksand'
    nextflowVersion  = '>=22.10'
    version          = 'v0'
}

cleanup = true
nextflow.enable.moduleBinaries = true

params{
    threads = 1
    // file input 
    split = false // a folder with bam files
    database = false // the folder with THE bowtie2-database
    acc2taxid = false
    names = false
    nodes = false
}

profiles {
    docker {
        docker.enabled         = true
        singularity.enabled    = false
    }
    singularity {
        docker.enabled         = false
        singularity.enabled    = true
        singularity.autoMounts = true
    }
    debug {
        cleanup                = false
    }
}

includeConfig "conf/process.config"